# Python
__pycache__/
*.py[cod]

# Virtual Environment
venv/
.env

# Database
db.sqlite3

# Media
media/

# Static
staticfiles/

# IDE
.vscode/
.idea/

# Logs
*.log

# Pytest
.pytest_cache/

# OS
.DS_Store
Thumbs.db